# Stuff

## Importing datasets and libraries

In [81]:
#libraries, tools, etc.
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn
from glob import glob
import os

from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

#style/ default customization
%matplotlib inline

In [2]:
raw_roof = pd.read_csv('raw_roof_data.csv')
raw_temp = pd.read_csv('raw_temp_data.csv', low_memory = False)
raw_demand = pd.read_csv('raw_demand_data.csv', low_memory = False)

In [3]:
raw_temp.head(10)

,Unnamed: 0,hm,Station Number,Year Month Day Hour Minutes in YYYY,MM,DD,HH24,MI format in Local time,Year Month Day Hour Minutes in YYYY.1,MM.1,...,Wind direction in degrees true,Wind direction quality,Speed of maximum windgust in last 10 minutes in km/h,Quality of speed of maximum windgust in last 10 minutes,Mean sea level pressure in hPa,Quality of mean sea level pressure,Station level pressure in hPa,Quality of station level pressure,AWS Flag,#
0,0,hm,23090,2000,1,1,1,0,2000,1,...,190,N,24.1,N,1018.9,N,1012.8,N,,#
1,1,hm,23090,2000,1,1,1,30,2000,1,...,200,N,16.6,N,1018.7,N,1012.6,N,,#
2,2,hm,23090,2000,1,1,2,0,2000,1,...,180,N,20.5,N,1018.5,N,1012.4,N,,#
3,3,hm,23090,2000,1,1,2,30,2000,1,...,170,N,18.4,N,1018.3,N,1012.2,N,,#
4,4,hm,23090,2000,1,1,3,0,2000,1,...,150,N,20.5,N,1018.3,N,1012.2,N,,#
5,5,hm,23090,2000,1,1,3,30,2000,1,...,160,N,18.4,N,1018.3,N,1012.2,N,,#
6,6,hm,23090,2000,1,1,4,0,2000,1,...,160,N,14.8,N,1018.4,N,1012.3,N,,#
7,7,hm,23090,2000,1,1,4,30,2000,1,...,170,N,16.6,N,1018.4,N,1012.3,N,,#
8,8,hm,23090,2000,1,1,5,0,2000,1,...,190,N,9.4,N,1018.3,N,1012.2,N,,#
9,9,hm,23090,2000,1,1,5,30,2000,1,...,150,N,16.6,N,1018.5,N,1012.4,N,,#

In [4]:
raw_temp.loc?

In [5]:
raw_demand.head()

   Unnamed: 0 REGION    SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
0           0   NSW1  2000/01/01 00:30   6763.57000  15.64      TRADE
1           1   NSW1  2000/01/01 01:00   6386.10167  14.06      TRADE
2           2   NSW1  2000/01/01 01:30   5990.79500  14.30      TRADE
3           3   NSW1  2000/01/01 02:00   5655.97667  14.28      TRADE
4           4   NSW1  2000/01/01 02:30   5283.83667  14.17      TRADE

In [6]:
raw_roof

,Unnamed: 0,http://www.cleanenergyregulator.gov.au/DocumentAssets/Pages/Postcode-data-for-small-scale-installations---SGU-Solar.aspx,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,2
0,2,NaN,2006.000,2007.000,2008.000,2009.000,2010.000,2011.000,2012.000,2013.000,2014.000,2015.000,2016.000,2017.000,2018.000,2019.000,2020.000,2021.000,2021.000,NaN
1,3,NT,492.255,672.010,1086.080,1596.127,3089.191,4892.675,7185.502,12231.347,18351.779,26988.197,39686.133,55130.844,75306.383,104064.309,131811.055,150275.110,156333.830,NaN
2,4,NSW,1044.984,2309.109,6516.811,25706.473,179092.635,374251.227,518840.662,652252.275,824216.341,1000627.317,1167297.424,1429882.577,1854762.489,2444811.146,3340668.493,4286221.991,4581774.073,NaN
3,5,ACT,19.560,113.690,607.655,1890.454,7036.333,24261.785,29295.145,40078.950,44975.232,50706.613,57611.038,69973.275,92115.423,122225.070,168816.618,226386.539,257305.109,NaN
4,6,VIC,857.842,1968.102,4697.987,15216.152,74175.361,214584.898,422168.723,553783.359,725483.148,875458.431,1020036.260,1225561.747,1564458.652,2025404.882,2599839.681,3270707.296,3439424.409,NaN
5,7,QLD,1402.912,2104.089,6261.171,30771.550,123136.808,348330.109,766735.362,1035607.185,1284399.867,1477160.876,1676699.605,1983375.713,2390903.331,2955907.287,3709417.548,4515042.244,4775899.632,NaN
6,8,SA,2288.091,3946.314,8826.973,21259.670,54494.226,218018.717,356059.266,497460.081,579995.125,646638.531,724311.269,839655.537,1014411.427,1237540.165,1541248.873,1829499.133,1921477.650,NaN
7,9,WA,435.341,1074.764,3998.921,18300.014,60447.186,183460.277,283006.321,352564.668,447859.726,544100.217,672148.753,858665.031,1068888.792,1315457.415,1651493.386,2001713.414,2121738.479,NaN
8,10,TAS,38.415,76.628,312.818,2035.142,5051.199,10963.607,31222.601,62724.701,81682.649,91208.965,103053.498,117640.319,136543.079,157061.899,183860.422,216833.232,228539.162,NaN
9,http://www.cleanenergyregulator.gov.au/Documen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [77]:
raw_roof2 = pd.DataFrame(raw_roof)

raw_roof2.iloc[0:, 0: -1]

raw_roof2.columns = raw_roof2.iloc[0, 0:]
raw_roof2.drop(9)
raw_roof2.columns = ['Extra1', 'States', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
                    '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022','Extra3']


raw_roof3 = raw_roof2.iloc[1:9]
cleaned_roof = raw_roof3.drop(columns = ['Extra1', 'Extra3'])

cleaned_roof

,States,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,NT,492.255,672.010,1086.080,1596.127,3089.191,4892.675,7185.502,12231.347,18351.779,26988.197,39686.133,55130.844,75306.383,104064.309,131811.055,150275.110,156333.830
2,NSW,1044.984,2309.109,6516.811,25706.473,179092.635,374251.227,518840.662,652252.275,824216.341,1000627.317,1167297.424,1429882.577,1854762.489,2444811.146,3340668.493,4286221.991,4581774.073
3,ACT,19.560,113.690,607.655,1890.454,7036.333,24261.785,29295.145,40078.950,44975.232,50706.613,57611.038,69973.275,92115.423,122225.070,168816.618,226386.539,257305.109
4,VIC,857.842,1968.102,4697.987,15216.152,74175.361,214584.898,422168.723,553783.359,725483.148,875458.431,1020036.260,1225561.747,1564458.652,2025404.882,2599839.681,3270707.296,3439424.409
5,QLD,1402.912,2104.089,6261.171,30771.550,123136.808,348330.109,766735.362,1035607.185,1284399.867,1477160.876,1676699.605,1983375.713,2390903.331,2955907.287,3709417.548,4515042.244,4775899.632
6,SA,2288.091,3946.314,8826.973,21259.670,54494.226,218018.717,356059.266,497460.081,579995.125,646638.531,724311.269,839655.537,1014411.427,1237540.165,1541248.873,1829499.133,1921477.650
7,WA,435.341,1074.764,3998.921,18300.014,60447.186,183460.277,283006.321,352564.668,447859.726,544100.217,672148.753,858665.031,1068888.792,1315457.415,1651493.386,2001713.414,2121738.479
8,TAS,38.415,76.628,312.818,2035.142,5051.199,10963.607,31222.601,62724.701,81682.649,91208.965,103053.498,117640.319,136543.079,157061.899,183860.422,216833.232,228539.162

In [79]:
# import os

# os.chdir(r"C:\Users\joshu\Downloads\ADS1002_Cleaned_Data")
# cleaned_roof.to_csv('cleaned_roof.csv')

## Cleaning raw temp data

In [5]:
import pandas as pd

file = pd.read_csv('raw_temp_data.csv')
file.head(50)

/var/folders/s8/y_yk3s1j4b73zy0sg5p4xwy80000gn/T/ipykernel_92450/630452458.py:3: DtypeWarning: Columns (13,15,19,21,23,25,27,29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  file = pd.read_csv('raw_temp_data.csv')

,Unnamed: 0,hm,Station Number,Year Month Day Hour Minutes in YYYY,MM,DD,HH24,MI format in Local time,Year Month Day Hour Minutes in YYYY.1,MM.1,...,Wind direction in degrees true,Wind direction quality,Speed of maximum windgust in last 10 minutes in km/h,Quality of speed of maximum windgust in last 10 minutes,Mean sea level pressure in hPa,Quality of mean sea level pressure,Station level pressure in hPa,Quality of station level pressure,AWS Flag,#
0,0,hm,23090,2000,1,1,1,0,2000,1,...,190,N,24.1,N,1018.9,N,1012.8,N,,#
1,1,hm,23090,2000,1,1,1,30,2000,1,...,200,N,16.6,N,1018.7,N,1012.6,N,,#
2,2,hm,23090,2000,1,1,2,0,2000,1,...,180,N,20.5,N,1018.5,N,1012.4,N,,#
3,3,hm,23090,2000,1,1,2,30,2000,1,...,170,N,18.4,N,1018.3,N,1012.2,N,,#
4,4,hm,23090,2000,1,1,3,0,2000,1,...,150,N,20.5,N,1018.3,N,1012.2,N,,#
5,5,hm,23090,2000,1,1,3,30,2000,1,...,160,N,18.4,N,1018.3,N,1012.2,N,,#
6,6,hm,23090,2000,1,1,4,0,2000,1,...,160,N,14.8,N,1018.4,N,1012.3,N,,#
7,7,hm,23090,2000,1,1,4,30,2000,1,...,170,N,16.6,N,1018.4,N,1012.3,N,,#
8,8,hm,23090,2000,1,1,5,0,2000,1,...,190,N,9.4,N,1018.3,N,1012.2,N,,#
9,9,hm,23090,2000,1,1,5,30,2000,1,...,150,N,16.6,N,1018.5,N,1012.4,N,,#
10,10,hm,23090,2000,1,1,6,0,2000,1,...,140,N,16.6,N,1018.5,N,1012.4,N,,#
11,11,hm,23090,2000,1,1,6,30,2000,1,...,160,N,18.4,N,1018.9,N,1012.8,N,,#
12,12,hm,23090,2000,1,1,7,0,2000,1,...,150,N,11.2,N,1019.2,N,1013.1,N,,#
13,13,hm,23090,2000,1,1,7,30,2000,1,...,140,N,27.7,N,1019.3,N,1013.2,N,,#
14,14,hm,23090,2000,1,1,8,0,2000,1,...,130,N,24.1,N,1019.7,N,1013.6,N,,#
15,15,hm,23090,2000,1,1,8,30,2000,1,...,140,N,35.3,N,1020.0,N,1013.9,N,,#
16,16,hm,23090,2000,1,1,9,30,2000,1,...,140,N,24.1,N,1020.3,N,1014.2,N,,#
17,17,hm,23090,2000,1,1,10,0,2000,1,...,130,N,31.3,N,1020.2,N,1014.1,N,,#
18,18,hm,23090,2000,1,1,10,30,2000,1,...,140,N,35.3,N,1020.1,N,1014.0,N,,#
19,19,hm,23090,2000,1,1,11,0,2000,1,...,150,N,37.1,N,1019.9,N,1013.8,N,,#
20,20,hm,23090,2000,1,1,11,30,2000,1,...,160,N,37.1,N,1019.7,N,1013.7,N,,#
21,21,hm,23090,2000,1,1,12,0,2000,1,...,140,N,37.1,N,1019.5,N,1013.5,N,,#
22,22,hm,23090,2000,1,1,12,30,2000,1,...,140,N,35.3,N,1019.3,N,1013.3,N,,#
23,23,hm,23090,2000,1,1,13,0,2000,1,...,140,N,33.5,N,1018.8,N,1012.8,N,,#
24,24,hm,23090,2000,1,1,13,30,2000,1,...,150,N,42.5,N,1018.7,N,1012.7,N,,#
25,25,hm,23090,2000,1,1,14,0,2000,1,...,150,N,38.9,N,1018.3,N,1012.3,N,,#
26,26,hm,23090,2000,1,1,14,30,2000,1,...,150,N,38.9,N,1017.8,N,1011.8,N,,#
27,27,hm,23090,2000,1,1,15,0,2000,1,...,160,N,40.7,N,1017.5,N,1011.5,N,,#
28,28,hm,23090,2000,1,1,15,30,2000,1,...,140,N,42.5,N,1017.4,N,1011.4,N,,#
29,29,hm,23090,2000,1,1,16,0,2000,1,...,150,N,37.1,N,1017.1,N,1011.1,N,,#
30,30,hm,23090,2000,1,1,16,30,2000,1,...,160,N,35.3,N,1017.0,N,1011.0,N,,#
31,31,hm,23090,2000,1,1,17,0,2000,1,...,160,N,38.9,N,1017.0,N,1011.0,N,,#
32,32,hm,23090,2000,1,1,17,30,2000,1,...,140,N,38.9,N,1016.9,N,1010.9,N,,#
33,33,hm,23090,2000,1,1,18,0,2000,1,...,150,N,37.1,N,1016.8,N,1010.8,N,,#
34,34,hm,23090,2000,1,1,18,30,2000,1,...,150,N,37.1,N,1016.6,N,1010.6,N,,#
35,35,hm,23090,2000,1,1,19,0,2000,1,...,140,N,31.3,N,1016.8,N,1010.8,N,,#
36,36,hm,23090,2000,1,1,19,30,2000,1,...,170,N,29.5,N,1017.2,N,1011.2,N,,#
37,37,hm,23090,2000,1,1,20,0,2000,1,...,170,N,27.7,N,1017.4,N,1011.4,N,,#
38,38,hm,23090,2000,1,1,20,30,2000,1,...,160,N,24.1,N,1017.4,N,1011.3,N,,#
39,39,hm,23090,2000,1,1,21,0,2000,1,...,170,N,24.1,N,1017.8,N,1011.7,N,,#
40,40,hm,23090,2000,1,1,21,30,2000,1,...,180,N,25.9,N,1017.9,N,1011.8,N,,#
41,41,hm,23090,2000,1,1,22,0,2000,1,...,200,N,20.5,N,1017.9,N,1011.8,N,,#
42,42,hm,23090,2000,1,1,22,30,2000,1,...,170,N,27.7,N,1018.1,N,1012.0,N,,#
43,43,hm,23090,2000,1,1,23,0,2000,1,...,140,N,24.1,N,1017.7,N,1011.6,N,,#
44,44,hm,23090,2000,1,1,23,30,2000,1,...,140,N,20.5,N,1017.3,N,1011.2,N,,#
45,45,hm,23090,2000,1,2,0,0,2000,1,...,160,N,18.4,N,1017.2,N,1011.1,N,,#
46,46,hm,23090,2000,1,2,0,30,2000,1,...,130,N,27.7,N,1017.0,N,1010.9,N,,#
47,47,hm,23090,2000,1,2,1,0,2000,1,...,130,N,20.5,N,1016.9,N,1010.8,N,,#
48,48,hm,23090,2000,1,2,1,30,2000,1,...,90,N,16.6,N,1016.6,N,1010.5,N,,#
49,49,hm,23090,2000,1,2,2,0,2000,1,...,230,N,14.8,N,1016.3,N,1010.2,N,,#

In [25]:
drop_columns = file.drop(['hm', 'Wind direction quality', 'Quality of speed of maximum windgust in last 10 minutes', 
                         'Quality of mean sea level pressure', 'Quality of mean sea level pressure', 
                         'Quality of station level pressure', 'Wind speed quality', 'Quality of dew point temperature', 
                         'Quality of relative humidity', 'Quality of Wet bulb temperature', 
                          'Quality of precipitation since 9am local time', 'Quality of precipitation since 9am local time', 
                         'Quality of air temperature', 'Unnamed: 0', '#'], axis=1) #Unamed: 0 = the index column 
drop_columns

,Station Number,Year Month Day Hour Minutes in YYYY,MM,DD,HH24,MI format in Local time,Year Month Day Hour Minutes in YYYY.1,MM.1,DD.1,HH24.1,MI format in Local standard time,Precipitation since 9am local time in mm,Air Temperature in degrees C,Wet bulb temperature in degrees C,Dew point temperature in degrees C,Relative humidity in percentage %,Wind speed in km/h,Wind direction in degrees true,Speed of maximum windgust in last 10 minutes in km/h,Mean sea level pressure in hPa,Station level pressure in hPa,AWS Flag
0,23090,2000,1,1,1,0,2000,1,1,0,0,0.0,13.1,10.0,6.6,65,14.8,190,24.1,1018.9,1012.8,
1,23090,2000,1,1,1,30,2000,1,1,0,30,0.0,13.2,10.1,6.8,65,9.4,200,16.6,1018.7,1012.6,
2,23090,2000,1,1,2,0,2000,1,1,1,0,0.0,13.4,10.1,6.5,63,13.0,180,20.5,1018.5,1012.4,
3,23090,2000,1,1,2,30,2000,1,1,1,30,0.0,13.2,10.0,6.5,64,9.4,170,18.4,1018.3,1012.2,
4,23090,2000,1,1,3,0,2000,1,1,2,0,0.0,13.0,9.7,6.0,62,11.2,150,20.5,1018.3,1012.2,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826239,94029,2020,1,20,8,0,2020,1,20,7,0,0.0,14.9,12.5,10.3,74,14.8,130,20.5,1011.4,1005.3,1
1826240,94029,2020,1,20,8,30,2020,1,20,7,30,0.0,14.9,12.4,10.1,73,13.0,140,18.4,1011.5,1005.4,1
1826241,94029,2020,1,20,9,0,2020,1,20,8,0,0.0,14.9,12.4,10.1,73,16.6,150,24.1,1011.7,1005.6,1
1826242,94029,2020,1,20,9,30,2020,1,20,8,30,0.0,15.1,12.4,9.9,71,16.6,150,22.3,1011.6,1005.5,1
1826243,94029,2020,1,20,10,0,2020,1,20,9,0,0.0,15.2,12.6,10.2,72,16.6,170,25.9,1011.0,1005.0,1